@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<a href="TestServer">Test Server</a><br/>
<a href="TestWasm">Test Wasm</a>
<br />
<a href="TestBoth">Test Both</a>
<br />

Welcome to your new app.
